<div class="modal fade" id="mdlUpdateAccount" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form class="form-horizontal" role="form" id="frmAccountDetails">
            <div class="modal-content" id="detailsFormContainer">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="accountDetailsFormTitle">Update Account</h4>
                </div>
                <div class="modal-body">
                    <div class="portlet light bordered">
                        <div class="portlet-body form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Status</label>
                                            <div class="col-md-9">
                                                <select class="form-control" id="slcStatus" data-model="status" required>
                                                    <option value="1">Active</option>
                                                    <option value="2">Inactive</option>
                                                    <option value="3">Prospect</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Type</label>
                                            <div class="col-md-9">
                                                <select class="form-control" id="slcType" data-model="type" required>
                                                    <option value=""></option>
                                                    <option value="1">Trucking</option>
                                                    <option value="2">Commercial</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Legal Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="" id="txtLegalName" required data-model="legalName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">DBA</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="" id="txtDba" data-model="dba">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">TAX ID</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="" id="txtTaxId" data-model="taxId">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">USDOT</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="" id="txtUsdot" data-model="usdot">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">State Permit</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="" id="txtStatePermit" data-model="statePermit">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Operation</label>
                                            <div class="col-md-9">
                                                <select class="form-control" id="slcOperation" data-model="operationType">
                                                    <option value=""></option>
                                                    <option value="1">Intermodal</option>
                                                    <option value="2">Flatbed</option>
                                                    <option value="3">Dry</option>
                                                    <option value="4">Refrigerated</option>
                                                    <option value="5">Hook-N-Drop</option>
                                                    <option value="6">Sand &Aacute; Gravel</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Radius</label>
                                            <div class="col-md-9">
                                                <select class="form-control" id="slcRadius" data-model="operationRadius">
                                                    <option value=""></option>
                                                    <option value="1">Local</option>
                                                    <option value="2">Intrastate</option>
                                                    <option value="3">CA, AZ, NV</option>
                                                    <option value="4">11 Western</option>
                                                    <option value="5">48 States</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Notes</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control" rows="3" id="txtNotes" data-model="notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Year</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="" id="txtYear" data-model="yearClient">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Source</label>
                                            <div class="col-md-9">
                                                <select class="form-control" id="slcSource" data-model="source">
                                                    <option value=""></option>
                                                    <option value="1">Telemarketing</option>
                                                    <option value="2">Google Search</option>
                                                    <option value="3">Social Media</option>
                                                    <option value="4">Client Referral</option>
                                                    <option value="5">Email Marketing</option>
                                                    <option value="6">Business Network</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Agent</label>
                                            <div class="col-md-9">
                                                <select class="form-control" id="slcAgent" required data-model="agentId">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><strong>Mailing</strong></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Address</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="" id="txtMailingAddress" data-model="address">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">State</label>
                                            <div class="col-md-9">
                                                <select class="form-control" id="slcMailingState" data-model="state">
                                                    <partial name="/Views/Shared/_USStatesDropdownOptions.cshtml" />
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:10px;">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label class="col-md-3 control-label" style="float:right;padding-right:30px;">City</label>
                                                </div>
                                                <div class="col-md-4" style="padding-left:8px;">
                                                    <select class="form-control" id="slcMailingCity" data-model="city">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-md-3 control-label">Zip</label>
                                                </div>
                                                <div class="col-md-4" style="padding-right:1px;">
                                                    <select class="form-control" id="slcMailingZip" data-model="zip">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><strong>Garaging</strong></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Address</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="" id="slcGaragingAddress" data-model="garageAddress">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">State</label>
                                            <div class="col-md-9">
                                                <select class="form-control" id="slcGaragingState" data-model="garageState">
                                                    <partial name="/Views/Shared/_USStatesDropdownOptions.cshtml" />
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label class="col-md-3 control-label" style="float:right;padding-right:30px;">City</label>
                                                </div>
                                                <div class="col-md-4" style="padding-left:8px;">
                                                    <select class="form-control" id="slcGaragingCity" data-model="garageCity">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-md-3 control-label">Zip</label>
                                                </div>
                                                <div class="col-md-4" style="padding-right:1px;">
                                                    <select class="form-control" id="slcGaragingZip" data-model="garageZip">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info">Save</button>
                </div>

            </div>

        </form>
    </div>
    <!-- /.modal-content -->
</div>