<div class="col-md-6 no-pad-right">
    <div class="portlet box white">
        <div class="portlet-title">
            <div class="caption">
                DRIVERS
            </div>
            <div class="tools">
                <button type="button" class="btn  btn-info btn-sm" id="btnAddDriver" title="Add Driver"><i class="fa fa-plus"></i></button>
            </div>
        </div>

        <div class="portlet-body" style="height:220px;">
            <div class="row hide driver-list-content">
                <table class="table table-striped table-hover" id="dTableDrivers">
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th> State </th>
                            <th> CDL No </th>
                            <th> Year </th>
                            <th> Hired </th>
                            <th> Terminated </th>
                            <th> &nbsp; </th>
                        </tr>
                    </thead>
                    <tbody id="tblDrivers">
                    </tbody>
                </table>
            </div>
            <div class="row" id="driversPreloader">
                <div class="col-md-12 text-center" style="padding-top:75px;">
                    <img src="~/assets/images/preloader.gif" />
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_AddDriverForm.cshtml" />
<partial name="_DriverDetails.cshtml" />
<partial name="_DeleteDriverConfirmation.cshtml" />
<script>
    DriversComponent.init();
</script>