
<div class="col-md-12">
    <div class="portlet box white">
        <div class="portlet-title">
            <div class="caption">
                POLICIES
            </div>
            <div class="tools">
                <button type="button" class="btn btn-info btn-sm" id="btnAddPolicy" title="Add Policy"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="portlet-body" style="height:220px;">
            <div class="row hide policy-list-content">
                <table class="table table-striped table-hover" id="dTablePolicies">
                    <thead>
                        <tr>
                            <th> Coverage Type </th>
                            <th> Effective </th>
                            <th> Expiration </th>
                            <th> Carrier </th>
                            <th> MGA </th>
                            <th> Policy Number </th>
                            <th> Initial Premium </th>
                            <th> Current Premium </th>
                            <th> &nbsp; </th>
                        </tr>
                    </thead>
                    <tbody id="tblPolicyList">
                    </tbody>
                </table>
            </div>
            <div class="row" id="policiesPreloader">
                <div class="col-md-12 text-center" style="padding-top:75px;">
                    <img src="~/assets/images/preloader.gif" />
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_PolicyForm.cshtml" />
<partial name="_PolicyRateCalculator.cshtml" />
<partial name="_PolicyDetails.cshtml" />
<script>
    PolicyComponent.init();
</script>
