
<div class="modal fade" id="mdlPolicyDetails" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <div class="col-md-12">
                    <div class="col-md-4 no-padding">
                        <h4 class="modal-title">Policy Details</h4>
                    </div>
                    <div class="col-md-5 no-padding lp-10">
                        <h4 class="modal-title">Augustina Vega</h4>
                    </div>
                    <div class="col-md-3 no-padding lp-10">
                        <h4 class="modal-title">Auto Liability</h4>
                    </div>
                </div>
            </div>

                <div class="modal-body" style="padding-bottom:0; padding-top:0;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 no-padding">
                                <div class="portlet light bordered" id="policyDetailsContent">
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-5">
                                                <label>Carrier</label><br />
                                            </div>
                                            <div class="col-md-7 no-padding">
                                                <label><strong data-model="carrierName" class="binding-service-field"></strong></label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-5">
                                                <label>MGA</label><br />
                                            </div>
                                            <div class="col-md-7 no-padding">
                                                <label><strong data-model="mganame" class="binding-service-field"></strong></label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-5">
                                                <label>Bind Date</label><br />
                                            </div>
                                            <div class="col-md-7 no-padding">
                                                <label><strong data-model="bindDate" class="binding-service-field"></strong></label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-5">
                                                <label>Effective Date</label><br />
                                            </div>
                                            <div class="col-md-7 no-padding">
                                                <label><strong data-model="effectiveDateText" class="binding-service-field"></strong></label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-5">
                                                <label>Expiration</label><br />
                                            </div>
                                            <div class="col-md-7 no-padding">
                                                <label><strong data-model="expirationDateText" class="binding-service-field"></strong></label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-5">
                                                <label>Base Rate</label><br />
                                            </div>
                                            <div class="col-md-7 no-padding">
                                                <label><strong data-model="basePerUnit" class="binding-service-field"></strong></label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-5">
                                                <label>Trailer Rate</label><br />
                                            </div>
                                            <div class="col-md-7 no-padding">
                                                <label><strong data-model="trailerRate" class="binding-service-field"></strong></label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-5">
                                                <label>Non Taxable Rate</label><br />
                                            </div>
                                            <div class="col-md-7 no-padding">
                                                <label><strong data-model="nonTaxedRateUnit" class="binding-service-field"></strong></label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-5">
                                                <label>BF Rate</label><br />
                                            </div>
                                            <div class="col-md-7 no-padding">
                                                <label><strong data-model="bfrate" class="binding-service-field"></strong></label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-5">
                                                <label>SL Tax Rate</label><br />
                                            </div>
                                            <div class="col-md-7 no-padding">
                                                <label><strong data-model="surplusTaxRate" class="binding-service-field"></strong></label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-5">
                                                <label>Premium Finance</label><br />
                                            </div>
                                            <div class="col-md-7 no-padding">
                                                <label><strong data-model="bankName" class="binding-service-field"></strong></label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-5">
                                                <label>Account No</label><br />
                                            </div>
                                            <div class="col-md-7 no-padding">
                                                <label><strong data-model="accountNo" class="binding-service-field"></strong></label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Notes</label><br />
                                            <textarea class="form-control" style="resize:none; font-size:13px; height:100px;" onkeypress="return false;" id="txtPolicyDetailsNotes"></textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:20px;">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-default" id="btnPolicyDetailsInceptionStage" style="width:100%;"> Inception Stage</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-8 no-padding">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-7">
                                            <table class="table table-bordered" role="grid">
                                                <thead>
                                                    <tr role="row" style="background:none;">
                                                        <th> &nbsp</th>
                                                        <th style="text-align:center;"> Initial</th>
                                                        <th style="text-align:center;"> Endorsements </th>
                                                        <th style="text-align:center;"> Current </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbPolicyDetailsEndorsements">
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-5 no-padding">
                                            <div class="portlet light bordered" style="padding:5px;">
                                                <label><strong id="lblPolicyDetailsCurrentDate">January 27, 2021, Wednesday</strong></label>
                                                <div class="row" style="margin-top:20px;" id="policyDetailsAgentCommissions">
                                                    <div class="col-md-12">
                                                        <div class="col-md-8">
                                                            <label style="margin-bottom:15px;">Days to Expire</label><br />
                                                            <label style="margin-bottom:15px;">Commission Rate</label><br />
                                                            <label style="margin-bottom:15px;">Earned Commission</label><br />
                                                            <label style="margin-bottom:15px;">Unearned Commission</label><br />
                                                            <label style="margin-bottom:15px;">Total Commission</label><br />
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label style="margin-bottom:15px;"><strong data-model="daysToExpire" class="binding-service-field"></strong></label><br />
                                                            <label style="margin-bottom:15px;"><strong data-model="commissionRate" class="binding-service-field"></strong></label><br />
                                                            <label style="margin-bottom:15px;"><strong data-model="earnedCommission" class="binding-service-field"></strong></label><br />
                                                            <label style="margin-bottom:15px;"><strong data-model="unearnedCommission" class="binding-service-field"></strong></label><br />
                                                            <label style="margin-bottom:15px;"><strong data-model="totalCommission" class="binding-service-field"></strong></label><br />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:20px;">
                                                    <div class="col-md-12">
                                                        <button class="btn btn-info" style="width:100%;">Agent Commissions</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="padding-left:30px;">
                                        <div class="portlet box white">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    Active Vehicles&nbsp; <span id="tbodyPolicyDetailsActiveVehiclesCounter">[100]</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body" style="height:220px;overflow-y:scroll;" >
                                                <div class="row">
                                                    <table class="table table-bordered" role="grid">
                                                        <thead>
                                                            <tr role="row" style="background:none;">
                                                                <th> Year</th>
                                                                <th> Make</th>
                                                                <th> VIN </th>
                                                                <th> Unit </th>
                                                                <th> Type </th>
                                                                <th> PD Value </th>
                                                                <th> Driver </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbodyPolicyDetailsActiveVehicles">
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="btnEditPolicy"> <i class="fa fa-pencil"></i>&nbsp;Edit</button>
                </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>