
.portlet{
    margin-bottom:5px;
}
.portlet-title {
    min-height: 31px !important;
    border-bottom: 3px solid #edf0f4;

}
.portlet.box.white > .portlet-title {
    background-color: #508edb;
}
.portlet.box.white > .portlet-title > .caption {
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding-top:5px;
    padding-bottom:5px;
}

.portlet.box.green > .portlet-title > .caption {
    padding-top: 8px;
    font-size: 14px;
}
.portlet.box > .portlet-title {
    border-bottom: 2px solid #edf0f4;
}


.portlet > .portlet-title > .tools {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.portlet-body{
    padding-top: 0px !important;
}

.table > tbody > tr > td{
    padding-bottom: 1px !important;
}

.table > tbody > tr > td.action {
    padding-top: 2px !important;
}

.margin-b-0{
    margin-bottom:0 !important;
}
.margin-b-5 {
    margin-bottom: 5px !important;
}
.modal-xl {
    width: 1200px;
}
.modal-350 {
    width: 350px;
}
.modal-450 {
    width: 450px;
}
.modal-750 {
    width: 750px;
}

.modal-850 {
    width: 850px;
}

div.menu-account-list ul{
    padding-left:0px;
}

div.menu-account-list ul li{
    list-style:none;
    padding:4px 5px 4px 15px;
    font-size:13.5px;

}

    div.menu-account-list ul li a {
        text-decoration: none;
        color: black;
        font-weight:300 !important;
    }
    div.menu-account-list ul li a span.title {
        text-decoration: none;
        color: black;
    }
    div.menu-account-list ul li.active {
        background: #508edb;
    }

    div.menu-account-list ul li a:hover {
        color: #508edb;
    }

    div.menu-account-list ul li.active a {
        color: white;
    }

.page-header.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #e7ecf1;
    min-height:34px;
    height:34px;
}

.page-content-wrapper .page-content {
    background: #edf0f4;
    padding-bottom: 0 !important;
    overflow-x: hidden !important;
    padding-right: 3px;
}
.page-content{
    padding-top:0 !important;
}
.page-footer {
    background-color: #f9f9f9;
}
.page-bar.top{
    float:left;
    background:none!important;
    color:black;
    margin:0!important;
    padding-top:2px !important;
    padding-left:5px;
}

    .page-bar.top ul.page-breadcrumb{
        padding-top:0;
        padding-bottom:0;
    }
    .page-bar.top ul.page-breadcrumb li {
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
    }
        .page-bar.top ul.page-breadcrumb li.active {
            background: #ffffff;
        }
            .page-bar.top ul.page-breadcrumb li.active a {
                color: #508edb;
            }

    .page-bar.top ul.page-breadcrumb li a{
        color: black;
        text-decoration:none;
    }

.page-sidebar.navbar-collapse.collapse {
    background: white;
    margin-top: 5px;
}

#expiringAccountlistMenu-accounts li {
    padding-left: 5px;
}

.offset-left-20{
    margin-left: -20px !important;
}

.no-pad-right{
    padding-right: 0px;
}
.offset-pad-left-5{
    padding-left:5px;
}

.btn-success {
    color: #fff;
    background-color: #4bb678;
    border-color: #4bb678;
}
.btn-success:hover{
    color: #fff;
    background-color: #4bb678;
    border-color: #4bb678;
}

.modal-footer{
    border-top:none !important;
}
.modal-header{
    border-bottom: none!important;
}

#tblContacts > tr.active > td, #tblContacts > tr.active > td.sorting_1 {
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%) !important;
    color: black;
}


#tblContacts > tr.active > td button.btn-success.btn-sm{
    color: black !important;
}

#tblContacts tr:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%) !important;
    color: black;
}

.btn-info.btn-sm {
    border: none;
    background: none;
    font-size:16px;
    padding:0!important;
}

.btn-success.btn-sm {
    border: none;
    background: none;
    color: #4bb678;
    font-size: 16px;
    padding: 0 !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle{
    padding-top:7px;
    padding-left:4px;
}

.page-header.navbar .page-logo{
    min-height:34px;
    height:34px;
}

.page-header-fixed .page-container
{
    margin-top:32px;
}

.dataTables_info
{
    margin-left:10px;
}

.table > thead:first-child > tr:first-child > th{
    padding-left:10px;
    padding-bottom:4px;
    padding-top:4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding:2px;
}

.validator-error {
    border: 1px solid #EF4836;
}
.form-control.validator-error:focus {
    border: 1px solid #EF4836;
}

.portlet.box.white{
    border:none !important;
}

.no-padding{
    padding:0 !important;
}

.lp-10 {
    padding-left: 10px !important;
}