<div class="modal fade" id="mdlAgent" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-750">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="mdl-agent-form-title">Add Agent</h4>
            </div>
            <form role="form" id="frmAgent" oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'>
                <div class="modal-body">
                    <div class="portlet light bordered">
                        <div class="portlet-body form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" required data-model="firstName">
                                        </div>
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            <input type="text" class="form-control" data-model="middleName">
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" required data-model="lastName">
                                        </div>
                                        <div class="form-group">
                                            <label>Email Address</label>
                                            <input type="email" class="form-control" required data-model="emailAddress">
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control" required data-model="password" name=up>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="password" class="form-control" required data-model="password" name=up2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label>Commission Split New</label>
                                            <input type="text" class="form-control" placeholder="0.00" data-type="decimal" data-model="commSplitNew">
                                        </div>
                                        <div class="form-group">
                                            <label>Commission Split Renew</label>
                                            <input type="text" class="form-control" placeholder="0.00" data-type="decimal" data-model="commSplitRenew">
                                        </div>
                                        <div class="form-group">
                                            <label>Commission Fixed Amount</label>
                                            <input type="text" class="form-control" placeholder="0.00" data-type="decimal" data-model="commFixedAmount">
                                        </div>
                                        <div class="form-group">
                                            <label>Broker Fee Split</label>
                                            <input type="text" class="form-control" placeholder="0.00" data-type="decimal" data-model="crokerFeeSplit">
                                        </div>
                                        <div class="form-group">
                                            <label>Commission Payment Plan</label>
                                            <input type="text" class="form-control" data-model="commPaymentPlan" >
                                        </div>
                                        <div class="form-group">
                                            <label>Notes</label>
                                            <textarea class="form-control" data-model="notes"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info"><i class="fa fa-save"></i>&nbsp;Save</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>