<div class="col-md-6 offset-pad-left-5">
    <div class="portlet box white">
        <div class="portlet-title">
            <div class="caption">
                DELETED USERS
            </div>
        </div>
        <div class="portlet-body" style="height: 400px;">
            <div class="row hide deleted-users-content">
                <div class="col-md-12" style="padding:0;">
                    <table class="table table-striped table-hover margin-b-5" id="tblUsersDeleted">
                        <thead>
                            <tr>
                                <th> Email Address </th>
                                <th> Full Name </th>
                                <th> Agent ID </th>
                                <th> Role </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody id="tbUserListDeleted">
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row" id="deletedUsersPreloader">
                <div class="col-md-12 text-center" style="padding-top:100px;">
                    <img src="~/assets/images/preloader.gif" />
                </div>
            </div>

        </div>
    </div>
</div>