
<style>
    li.nav-item.reports.active {
        background: #508edb;
    }

        li.nav-item.reports.active a {
            color: white;
        }

    .nav > li > a {
        padding: 7px !important;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
        background: #508edb;
        color: white;
    }

        .nav-tabs > li.active > a:hover {
            background: #508edb;
            color: white;
        }

    div.tab-pane {
        padding: 10px;
        background: white;
    }

    ul.nav.nav-tabs {
        margin-bottom: 0px;
    }
    .table-header {
        margin-top: 20px;
    }

        .table-header.popup {
            margin-top: 0 !important;
        }

            .table-header.popup div {
                background: #0b294e;
                color: white;
                padding-top: 5px;
                height: 25px;
            }

            .table-header.popup.h40 div {
                height: 40px;
            }

        .table-header div {
            background: #0b294e;
            color: white;
            padding-top: 5px;
            height: 45px;
        }

    .table-sub-header div {
        background: #508edb;
        color: white;
        padding-top: 5px;
        height: 30px;
    }

    .table-row.agencyreport div {
        padding: 10px 0px 5px 0px;
        border-bottom: 1px solid gray;
        height: 60px;
    }

    .table-row-popup div {
        padding: 0px !important;
        border-bottom: 1px solid gray;
        height: 25px;
    }

    .table-row-popup input {
        border: none;
        width: 100%;
        text-align: center;
    }

        .table-row-popup input:focus {
            border: none;
            outline: none !important;
        }

    div.table-footer {
        background: #0b294e;
        height: 30px;
        padding-top:5px;
    }
    div.table-footer label{
        color:white;
        font-weight:bold;
    }
</style>
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light " style="padding-top:5px;border-bottom:1px solid #edf0f4">
            <li class="nav-item" style="padding-left:10px;padding-bottom:10px">
                <strong class="title">SELECT REPORT</strong>
            </li>
            <li class="nav-item reports">
                <a href="/Endorsements" class="nav-link account-menu-item">
                    <strong class="title">Endorsements</strong>
                </a>
            </li>
            <li class="nav-item reports">
                <a href="/Commissions" class="nav-link account-menu-item">
                    <strong class="title">Commissions & Fees</strong>
                </a>
            </li>
            <li class="nav-item reports active">
                <a href="/AgencyReports" class="nav-link account-menu-item">
                    <strong class="title">Agency Reports</strong>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row" style="border-left:5px solid #edf0f4;padding-top:5px;">
            <partial name="AgencyReports/AgencyReports.cshtml" />
        </div>
    </div>
</div>
<script>$(".page-sidebar.navbar-collapse.collapse").attr("style", 'height :800px !important');</script>