
<style>
    li.nav-item.reports.active {
        background: #508edb;
    }
    li.nav-item.reports.active a {
        color: white;
    }
    .nav > li > a{
        padding:7px !important;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
        background: #508edb;
        color: white;
    }
    .nav-tabs > li.active > a:hover {
        background: #508edb;
        color: white;
    }
    div.tab-pane{
        padding:10px;
        background:white;
    }
    ul.nav.nav-tabs{
        margin-bottom:0px;
    }
</style>
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light " style="padding-top:5px;border-bottom:1px solid #edf0f4">
            <li class="nav-item" style="padding-left:10px;padding-bottom:10px">
                <strong class="title">SELECT REPORT</strong>
            </li>
            <li class="nav-item reports active">
                <a href="javascript:" class="nav-link account-menu-item" data-id="63">
                    <strong class="title">Endorsements</strong>
                </a>
            </li>
            <li class="nav-item reports">
                <a href="javascript:" class="nav-link account-menu-item" data-id="63">
                    <strong class="title">Commissions & Fees</strong>
                </a>
            </li>
            <li class="nav-item reports">
                <a href="javascript:" class="nav-link account-menu-item" data-id="63">
                    <strong class="title">Agency Reports</strong>
                </a>
            </li>

        </ul>
    </div>
</div>
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row" style="border-left:5px solid #edf0f4;padding-top:5px;">
            <partial name="Endorsements/Endorsements.cshtml" />
        </div>
    </div>
</div>
<script>
    $(".page-sidebar.navbar-collapse.collapse").attr("style", 'height :800px !important');
</script>