
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ACIC | AMS Beta</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <partial name="_PageStyleSheets" />
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/scripts/js/login/authentication.js?v=@Configuration["Release:Version"]" type="text/javascript"></script>
    <script src="/scripts/services/shared/bindings.service.js?v=@Configuration["Release:Version"]" type="text/javascript"></script>

    <script src="/scripts/components/shared/account.list.menu.component.js?v=@Configuration["Release:Version"]" type="text/javascript"></script>
    <script src="/scripts/services/accounts/account.service.js?v=@Configuration["Release:Version"]" type="text/javascript"></script>
    <script src="/scripts/services/shared/states.service.js?v=@Configuration["Release:Version"]" type="text/javascript"></script>
    <script src="/scripts/services/shared/validation.service.js?v=@Configuration["Release:Version"]" type="text/javascript"></script>
    <script src="/scripts/services/shared/utility.service.js?v=@Configuration["Release:Version"]" type="text/javascript"></script>

    <script>
        Authentication.checkToken();
    </script>

    <partial name="_PageScripts" />
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white">
    <div class="page-wrapper" style="background:#edf0f4">
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <div class="page-logo">
                    <a href="index.html" style="width:100%;text-align:center;">
                        <img src="~/assets/images/Logo.PNG" alt="logo" class="logo-default" style="margin-top:2px;width:150px;" />
                    </a>
                </div>
                <div class="page-bar top">
                    <ul class="page-breadcrumb">
                        <li class="main-nav main-nav-accounts">
                            <a href="/Accounts"><strong>ACCOUNTS</strong></a>
                        </li>
                        <li class="main-nav main-nav-contacts">
                            <a href="index.html"><strong>CONTACTS</strong></a>
                        </li>
                        <li>
                            <a href="index.html"><strong>CARRIERS</strong></a>
                        </li>
                        <li>
                            <a href="index.html"><strong>HOW TO</strong></a>
                        </li>
                        <li>
                            <a href="index.html"><strong>EMAILS</strong></a>
                        </li>
                        <li>
                            <a href="index.html"><strong>LINKS</strong></a>
                        </li>
                        <li>
                            <a href="/Reports"><strong>REPORTS</strong></a>
                        </li>
                        <li>
                            <a href="index.html"><strong>COMMISSIONS</strong></a>
                        </li>
                        <li class="main-nav main-nav-admin">
                            <a href="/Admin"><strong>USER MANAGEMENT</strong></a>
                        </li>
                    </ul>
                </div>
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="~/assets/images/user-48.png" />
                                <span class="username" id="loggedInUserName" style="color:black;"> Jezreel </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="" id="userProfileLink">
                                        <i class="icon-user"></i> My Profile
                                    </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="javascript:Authentication.logOut()">
                                        <i class="icon-key"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="page-container">
            @RenderBody()
        </div>
        <div class="page-footer text-center">
            <div class="page-footer-inner" style="width:100%;">
                2020 &copy; ACIC AMS BETA
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
    </div>
    <script>
       
        $("#loggedInUserName").html(Authentication.userInfo().emailAddress);
        $("#userProfileLink").attr('href', '/User/Profile/' + Authentication.userInfo().id);
    </script>

</body>
</html>
