<div class="col-md-12">
    <div class="portlet box white" style="min-height:239px;">
        <div class="portlet-title">
            <div class="caption">
                ENDORSEMENTS
            </div>
            <div class="tools">
                <button type="button" class="btn btn-info btn-sm" id="btnAddEndorsement" title="Add Endorsement" style="margin-right:5px;"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-success btn-sm" id="btnExport" title="Export to Excel"><i class="fa fa-file-excel-o"></i></button>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <table class="table table-striped table-hover" id="dTableEndorsements">
                    <thead>
                        <tr>
                            <th> Description </th>
                            <th> Year </th>
                            <th> Make </th>
                            <th> VIN </th>
                            <th> PD Value </th>
                            <th> Surcharge </th>
                            <th> AL </th>
                            <th> MTC </th>
                            <th> APD </th>
                            <th> Broker Fees </th>
                            <th> Endt Fees </th>
                            <th> Total Amount </th>
                            <th> Status</th>
                            <th> Variance</th>
                            <th> &nbsp; </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 10/21/2020 </td>
                            <td> DELETE </td>
                            <td> Steve Jhonny Mouvinoing  </td>
                            <td> 2006 </td>
                            <td> Freightliner </td>
                            <td> 1FUJA6CK76LX11079 </td>
                            <td> 219,0000.00 </td>
                            <td> 219,0000.00 </td>
                            <td> 219,0000.00 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> Sent </td>
                            <td class="action"> <button class="btn btn-success btn-sm" title="View Details"><i class="fa fa-search"></i></button>  </td>
                        </tr>
                        <tr>
                            <td> 10/21/2020 </td>
                            <td> DELETE </td>
                            <td> Steve Jhonny Mouvinoing  </td>
                            <td> 2006 </td>
                            <td> Freightliner </td>
                            <td> 1FUJA6CK76LX11079 </td>
                            <td> 219,0000.00 </td>
                            <td> 219,0000.00 </td>
                            <td> 219,0000.00 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> Sent </td>
                            <td class="action"> <button class="btn btn-success btn-sm" title="View Details"><i class="fa fa-search"></i></button>  </td>
                        </tr>
                        <tr>
                            <td> 10/21/2020 </td>
                            <td> DELETE </td>
                            <td> Steve Jhonny Mouvinoing  </td>
                            <td> 2006 </td>
                            <td> Freightliner </td>
                            <td> 1FUJA6CK76LX11079 </td>
                            <td> 219,0000.00 </td>
                            <td> 219,0000.00 </td>
                            <td> 219,0000.00 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> Sent </td>
                            <td class="action"> <button class="btn btn-success btn-sm" title="View Details"><i class="fa fa-search"></i></button>  </td>
                        </tr>
                        <tr>
                            <td> 10/21/2020 </td>
                            <td> DELETE </td>
                            <td> Steve Jhonny Mouvinoing  </td>
                            <td> 2006 </td>
                            <td> Freightliner </td>
                            <td> 1FUJA6CK76LX11079 </td>
                            <td> 219,0000.00 </td>
                            <td> 219,0000.00 </td>
                            <td> 219,0000.00 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> Sent </td>
                            <td class="action"> <button class="btn btn-success btn-sm" title="View Details"><i class="fa fa-search"></i></button>  </td>
                        </tr>
                        <tr>
                            <td> 10/21/2020 </td>
                            <td> DELETE </td>
                            <td> Steve Jhonny Mouvinoing  </td>
                            <td> 2006 </td>
                            <td> Freightliner </td>
                            <td> 1FUJA6CK76LX11079 </td>
                            <td> 219,0000.00 </td>
                            <td> 219,0000.00 </td>
                            <td> 219,0000.00 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> 258,000.000 </td>
                            <td> Sent </td>
                            <td class="action"> <button class="btn btn-success btn-sm" title="View Details"><i class="fa fa-search"></i></button>  </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

<partial name="_EndorsementForm.cshtml" />
<script>
    var table;
    if ($.fn.dataTable.isDataTable('#dTableEndorsements')) {
        table.destroy();
    }

    table = $("#dTableEndorsements").DataTable({
        "pageLength": 5,
        "searching": false,
        "bLengthChange": false,
        "columnDefs": [{
            "targets": 6,
            "orderable": false
        }]
    })
</script>