<div class="col-md-12">
    <div class="portlet box white" style="min-height:239px;">
        <div class="portlet-title">
            <div class="caption">
                ENDORSEMENTS
            </div>
            <div class="tools">
                <input type="text" style="margin-right:10px; width: 200px; color:#508edb; outline:none;border:none;" id="txtSearchEndorsement"/>
                <select style="margin-right:10px; color:#508edb;outline:none;" id="slcEndorsementTypeFilter">
                    <option value="all">Show All</option>
                    <option value="vehicle">Vehicles</option>
                    <option value="driver">Drivers</option>
                    <option value="additional_insured">Additional Insureds</option>
                    <option value="loss_payee">Loss Payees</option>
                    <option value="wos">WOS</option>
                </select>
                <button type="button" class="btn btn-info btn-sm" id="btnAddEndorsement" title="Add Endorsement" style="margin-right:5px;"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-success btn-sm" id="btnExportEndorsements" title="Export to Excel" style="color:white !important"><i class="fa fa-file-excel-o"></i></button>
            </div>
        </div>
        <div class="portlet-body" style="height:220px; overflow-y:scroll;">
            <div class="row hide endorsement-list-content">
                <table class="table table-striped table-hover" id="dTableEndorsements">
                    <thead>
                        <tr>
                            <th> Effective </th>
                            <th> Description </th>
                            <th> Action </th>
                            <th> Year </th>
                            <th> Make </th>
                            <th> VIN </th>
                            <th> PD Value </th>
                            <th> Surcharge </th>
                            <th> AL </th>
                            <th> MTC </th>
                            <th> APD </th>
                            <th> Broker Fees </th>
                            <th> Endt Fees </th>
                            <th> Total Amount </th>
                            <th> Status</th>
                            <th> Variance</th>
                            <th> &nbsp; </th>
                        </tr>
                    </thead>
                    <tbody id="tbodyEndorsementList">
                    </tbody>
                </table>
            </div>
            <div class="row" id="endorsementsPreloader">
                <div class="col-md-12 text-center" style="padding-top:75px;">
                    <img src="~/assets/images/preloader.gif" />
                </div>
            </div>


        </div>
    </div>
</div>

<partial name="_EndorsementForm.cshtml" />
<script>
    EndorsementComponent.init();
</script>