<div class="modal fade" id="mdlDeleteVehicleConfirmation" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-450">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Vehicle ?</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="font-size:84px" class="font-red-mint">
                                <i class="fa fa-question-circle"></i>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <p style="margin-bottom:0px;">This action will permanently remove this vehicle from our database.</p>
                            <p style="background:#F7CA18!important; padding:5px;">
                                <small><i class="fa fa-info-circle"></i>&nbsp;Removing this vehicle will also remove all endorsement records the driver has on our records. Once deleted, this action can't be undone.</small>
                            </p>
                            <p>
                                Would you like to proceed deleting this driver?
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-info" id="btnProceedDeleteVehicle"><i class="fa fa-check-square-o"></i>&nbsp;Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>