<div class="modal fade" id="mdlVehicle" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">New Vehicle</h4>
            </div>
            <div class="modal-body">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Year</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Make</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option>Freightliner</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">VIN</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Type</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option>Tractor</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Model</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">PD Value</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                            <div class="col-md-6">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Driver</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">&nbsp;</label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"> Driver is the owner?
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Owner Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">&nbsp;</label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"> Vehicle is not on Lien?
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Lien Holder</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Account No</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Notes</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control" style="height:86px;"></textarea>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                                        <thead>
                                            <tr role="row">
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="3"> Account Active Policies </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Premium </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Taxes and Fees</th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Broker Fee </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Total Amount </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Auto Liability
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td class="center">  <input type="text" class="form-control" /> </td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Motor Truck Cargo
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td class="center">  <input type="text" class="form-control" /> </td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Physical Damage
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td class="center">  <input type="text" class="form-control" /> </td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Excess Liability
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td class="center">  <input type="text" class="form-control" /> </td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    General Liability
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td class="center">  <input type="text" class="form-control" /> </td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Other Coverages
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td class="center">  <input type="text" class="form-control" /> </td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>