<div class="col-md-6 offset-pad-left-5">
    <div class="portlet box white">
        <div class="portlet-title">
            <div class="caption">
                VEHICLES
            </div>
            <div class="tools">
                <button type="button" class="btn btn-info btn-sm" id="btnAddVehicle" title="Add Vehicle"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="portlet-body" style="height:220px;">
            <div class="row hide vehicle-list-content">
                <table class="table table-striped table-hover" id="dTableVehicles">
                    <thead>
                        <tr>
                            <th> Year </th>
                            <th> Make </th>
                            <th> VIN </th>
                            <th> Unit </th>
                            <th> Type </th>
                            <th> Value </th>
                            <th> Driver </th>
                            <th> &nbsp; </th>
                        </tr>
                    </thead>
                    <tbody id="tblVehicles">
                    </tbody>
                </table>
            </div>
            <div class="row" id="vehiclesPreloader">
                <div class="col-md-12 text-center" style="padding-top:75px;">
                    <img src="~/assets/images/preloader.gif" />
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_VehiclesForm.cshtml" />
<partial name="_VehicleDetails.cshtml" />

<script>
    Vehicles.init();
</script>
