
<div class="modal fade" id="mdlVehicle" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">New Vehicle</h4>
            </div>

            <form class="form-horizontal" role="form" id="frmVehicle">
                <div class="modal-body">
                    <div class="portlet light bordered">
                        <div class="portlet-body form vehicle-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Year</label>
                                            <div class="col-md-9">
                                                <select class="form-control" required data-model="vYear">
                                                    <option value=""></option>
                                                    @for (var year = DateTime.Now.Year; year > 1970; year--)
                                                    {
                                                        <option value="@year">@year</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Make</label>
                                            <div class="col-md-9">
                                                <select class="form-control vehicle-makes" id="sclVehicleMakes" required data-model="make">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">VIN&nbsp;<a href="http://cmvid.nisrinc.com/CMV_ID/CMV_ID.asp" target="_blank"><i class="fa fa-globe"></i></a></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" data-model="vin" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Type</label>
                                            <div class="col-md-9">
                                                <select class="form-control" id="slcVehicleType" required data-model="type">
                                                    <option value=""></option>
                                                    <option value="1">Tractor</option>
                                                    <option value="2">Trailer</option>
                                                    <option value="3">Truck</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Model</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" data-model="model" />
                                            </div>
                                        </div>
                                        <div class="form-group hide" id="frmGroupUnitNumber">
                                            <label class="col-md-3 control-label">Unit #</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" data-model="vUnit" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">PD Value</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txtPdValue" required data-model="pdvalue" data-type="decimal" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Driver</label>
                                            <div class="col-md-9">
                                                <select class="form-control vehicle-drivers" id="slcVehicleDrivers" required data-model="driverId">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">&nbsp;</label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" id="chkDriverOwner" data-model="driverOwner"> Driver is the owner?
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group driver-owner">
                                            <label class="col-md-3 control-label">Owner Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" data-model="ownerOperator" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">&nbsp;</label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" id="chkNotOnLien" data-model="notOnLien"> Vehicle is not on Lien?
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group lien-field">
                                            <label class="col-md-3 control-label">Lien Holder</label>
                                            <div class="col-md-9">
                                                <select class="form-control vehicle-banks" id="slcLienHolders" data-model="bankId">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group lien-field">
                                            <label class="col-md-3 control-label">Account No</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" data-model="accountNo" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Notes</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control" style="height:86px;" data-model="notes"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="font-red-mint hide" id="vehicle-policy-validator"><i class="fa fa-exclamation-triangle"></i>&nbsp; Please select at elast one active policy! </p>
                                    <div class="table-scrollable">
                                        <table class="table table-bordered table-hover table-checkable dataTable" id="dTableNewVehicleCoverageTypes" role="grid">
                                            <thead>
                                                <tr role="row">
                                                    <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="3"> Account Active Policies </th>
                                                    <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Premium </th>
                                                    <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Taxes and Fees</th>
                                                    <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Broker Fee </th>
                                                    <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Total Amount </th>
                                                </tr>
                                            </thead>
                                            <tbody id="availableVehicleCoverageTypes">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info" disabled id="btnSaveNewVehicle"><i class="fa fa-save"></i>&nbsp;Save</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>