<div class="col-md-6 offset-pad-left-5">
    <div class="portlet box white">
        <div class="portlet-title">
            <div class="caption">
                CONTACTS
            </div>
            <div class="tools">
                <button type="button" class="btn btn-info btn-sm" id="btnAddContact" title="Add Contact"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="portlet-body" style="height: 260px;">
            <div class="row hide contacts-content">
                <table class="table table-striped table-hover margin-b-5" id="dTableContacts">
                    <thead>
                        <tr>
                            <th width="250"> Name </th>
                            <th> Title </th>
                            <th> Mobile </th>
                            <th> Email </th>
                            <th> &nbsp </th>
                        </tr>
                    </thead>
                    <tbody id="tblContacts">
                    </tbody>
                </table>
            </div>
            <div class="row hide  contacts-content">
                <div class="col-md-12">
                    <div class="form-body">
                        <div class="form-group">
                            <label>Notes</label>
                            <textarea class="form-control" style="resize:none; height:100px;" id="txtContactNotes"></textarea>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" id="contactsPreloader">
                <div class="col-md-12 text-center" style="padding-top:100px;">
                    <img src="~/assets/images/preloader.gif" />
                </div>
            </div>

        </div>
    </div>
</div>

<partial name="_ContactsForm.cshtml" />
<partial name="_ContactDetails.cshtml" />


<script>
    Contacts.init();
</script>