
<script src="/scripts/components/accounts/account.details.component.js" type="text/javascript"></script>
<script src="/scripts/components/accounts/drivers.component.js" type="text/javascript"></script>
<script src="/scripts/components/accounts/contacts.component.js" type="text/javascript"></script>
<script src="/scripts/components/accounts/vehicles.component.js" type="text/javascript"></script>
<script src="/scripts/components/accounts/policy.component.js" type="text/javascript"></script>
<script src="/scripts/components/accounts/endorsements.component.js" type="text/javascript"></script>
<script src="/scripts/services/accounts/policy.service.js" type="text/javascript"></script>
<script src="/scripts/services/accounts/contacts.service.js" type="text/javascript"></script>
<script src="/scripts/services/accounts/agents.service.js" type="text/javascript"></script>
<script src="/scripts/services/accounts/drivers.service.js" type="text/javascript"></script>
<script src="/scripts/services/accounts/vehicles.service.js" type="text/javascript"></script>
<script src="/scripts/services/accounts/endorsements.service.js" type="text/javascript"></script>
<script src="/scripts/models/accounts/contact.model.js" type="text/javascript"></script>
<script src="/scripts/models/accounts/account.model.js" type="text/javascript"></script>
<script src="/scripts/models/accounts/driver.endorsement.model.js" type="text/javascript"></script>
<script src="/scripts/models/accounts/vehicle.endorsement.model.js" type="text/javascript"></script>
<script src="/scripts/models/accounts/policy.model.js" type="text/javascript"></script>
<script src="/scripts/models/accounts/endorsement.model.js" type="text/javascript"></script>
<style>
    .form .form-group {
        margin-bottom: 5px;
    }
</style>

<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <partial name="/Views/Shared/AccountList.cshtml" />
        <partial name="/Views/Shared/ExpiringAccounts.cshtml" />
    </div>
</div>
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row" style="border-left:5px solid #edf0f4;padding-top:5px;">
            <div class="col-md-12" style="padding-left:0px;">
                <div class="row offset-left-20">
                    <partial name="/Views/Accounts/Details/_Details.cshtml" />
                    <partial name="/Views/Accounts/Contacts/_Contacts.cshtml" />
                </div>
                <div class="row offset-left-20">
                    <partial name="/Views/Accounts/Drivers/_Drivers.cshtml" />
                    <partial name="/Views/Accounts/Vehicles/_Vehicles.cshtml" />
                </div>
                <div class="row offset-left-20">
                    <partial name="/Views/Accounts/Policies/_Policies.cshtml" />
                </div>

                <div class="row offset-left-20">
                    <partial name="/Views/Accounts/Endorsements/_Endorsements.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    AccountListMenu.init();
    $(".page-sidebar.navbar-collapse.collapse").attr("style", 'height :1067px !important');
    $(document).ready(function () {
        $("div.page-content").removeAttr("style");
    });
</script>



