
<div class="row offset-left-20">
    <partial name="/Views/Accounts/Details/_Details.cshtml" />
    <partial name="/Views/Accounts/Contacts/_Contacts.cshtml" />
</div>
<div class="row offset-left-20">
    <partial name="/Views/Accounts/Drivers/_Drivers.cshtml" />
    <partial name="/Views/Accounts/Vehicles/_Vehicles.cshtml" />
</div>
<div class="row offset-left-20">
    <div class="col-md-12">
        <div class="portlet box white">
            <div class="portlet-title">
                <div class="caption">
                    POLICIES
                </div>
                <div class="tools">
                    <button type="button" class="btn btn-info btn-sm" id="btnAddPolicy" title="Add Policy"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th> Name </th>
                                    <th> Effective </th>
                                    <th> Expiration </th>
                                    <th> Carrier </th>
                                    <th> MGA </th>
                                    <th> Policy Number </th>
                                    <th> Initial Premium </th>
                                    <th> Current Premium </th>
                                    <th> &nbsp; </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Auto Liability </td>
                                    <td> 08/15/2020 </td>
                                    <td> 08/15/2021  </td>
                                    <td> National Specialty Insurance Company </td>
                                    <td> Brazos Security Risk Inc </td>
                                    <td> JMASDKAJSDJAH </td>
                                    <td> 219,0000.00 </td>
                                    <td> 258,000.000 </td>
                                    <td class="action"> <button class="btn btn-success btn-sm" title="View Details"><i class="fa fa-search"></i></button>  </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row offset-left-20">
    <div class="col-md-12">
        <div class="portlet box white" style="min-height:239px;">
            <div class="portlet-title">
                <div class="caption">
                    ENDORSEMENTS
                </div>
                <div class="tools">
                    <button type="button" class="btn btn-info btn-sm" id="btnAddEndorsement" title="Add Endorsement"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-success btn-sm" id="btnExport">Export (.xlsx)</button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th colspan="3"> Description </th>
                                    <th> Year </th>
                                    <th> Make </th>
                                    <th> WIN </th>
                                    <th> PD Value Surcharge </th>
                                    <th> AL </th>
                                    <th> MTC </th>
                                    <th> APD </th>
                                    <th> Broker Fees </th>
                                    <th> Endt Fees </th>
                                    <th> Total Amount </th>
                                    <th> Status</th>
                                    <th> Variance</th>
                                    <th> &nbsp; </th>
                                </tr>
                                <tr>
                                    <th> <button type="button" class="btn default btn-sm" id="btnAddUser">Show All</button> </th>
                                    <th> <button type="button" class="btn default btn-sm" id="btnAddUser">Vehicles</button>  </th>
                                    <th> <button type="button" class="btn default btn-sm" id="btnAddUser">Drivers</button>  </th>
                                    <th> <button type="button" class="btn default btn-sm" id="btnAddUser">Add. Insureds</button>  </th>
                                    <th> <button type="button" class="btn default btn-sm" id="btnAddUser">Loss Payees</button>  </th>
                                    <th> <button type="button" class="btn default btn-sm" id="btnAddUser">WOS</button>  </th>
                                    <th> <input type="text" class="form-control" />  </th>
                                    <th> <button type="button" class="btn default btn-sm" id="btnAddUser">Search</button>  </th>
                                    <th> &nbsp;</th>
                                    <th>  &nbsp; </th>
                                    <th>  &nbsp; </th>
                                    <th>  &nbsp;</th>
                                    <th>  &nbsp;</th>
                                    <th>  &nbsp;</th>
                                    <th> &nbsp; </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 10/21/2020 </td>
                                    <td> DELETE </td>
                                    <td> Steve Jhonny Mouvinoing  </td>
                                    <td> 2006 </td>
                                    <td> Freightliner </td>
                                    <td> 1FUJA6CK76LX11079 </td>
                                    <td> 219,0000.00 </td>
                                    <td> 219,0000.00 </td>
                                    <td> 219,0000.00 </td>
                                    <td> 258,000.000 </td>
                                    <td> 258,000.000 </td>
                                    <td> 258,000.000 </td>
                                    <td> 258,000.000 </td>
                                    <td> Sent </td>
                                    <td>  </td>
                                    <td class="action"> <button class="btn btn-success btn-sm" title="View Details"><i class="fa fa-search"></i></button>  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlPolicy" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">New Policy</h4>
            </div>
            <div class="modal-body">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Account</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option>Anytime Transport</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Carrier</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">MGA</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Policy Number</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Coverage</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option>Auto Liability</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Notes</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                            <div class="col-md-6">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Bind Date</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="mm/dd/yyy">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Effective</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="mm/dd/yyy">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Expiration</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="mm/dd/yyy">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Premium Finance</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Account No</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="">
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><strong>Basic Rates</strong></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">AL Rate</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" value="100.00">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calculator"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">AL Trailer Rate</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" value="100.00">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calculator"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Non-Taxable Fees</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" value="100.00">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calculator"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">BF Per Unit</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" value="100.00">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calculator"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Surplus Tax Rate</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" value="100.00">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calculator"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><strong>Commissions</strong></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Comm. Rate</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" placeholder="" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Unearn. Commissions</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" placeholder="" value="">
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                            <div class="col-md-6">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><strong>Taxes and Fees</strong></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">&nbsp;</label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"> Direct Bill?
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Surcharge</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Surplus Tax</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Policy Fees</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">MGA Fees</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Other Fees</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><strong>TOTAL</strong></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="" value="">
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="mdlVehicle" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">New Vehicle</h4>
            </div>
            <div class="modal-body">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Year</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Make</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option>Freightliner</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">VIN</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Type</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option>Tractor</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Model</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">PD Value</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                            <div class="col-md-6">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Driver</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">&nbsp;</label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"> Driver is the owner?
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Owner Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">&nbsp;</label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"> Vehicle is not on Lien?
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Lien Holder</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Account No</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Notes</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control" style="height:86px;"></textarea>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                                        <thead>
                                            <tr role="row">
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="3"> Account Active Policies </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Premium </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Taxes and Fees</th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Broker Fee </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Total Amount </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Auto Liability
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td class="center">  <input type="text" class="form-control" /> </td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Motor Truck Cargo
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td class="center">  <input type="text" class="form-control" /> </td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Physical Damage
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td class="center">  <input type="text" class="form-control" /> </td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Excess Liability
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td class="center">  <input type="text" class="form-control" /> </td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    General Liability
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td class="center">  <input type="text" class="form-control" /> </td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Other Coverages
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td class="center">  <input type="text" class="form-control" /> </td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="mdlEndorsement" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">New Endorsement - Anytime Transport Inc</h4>
            </div>
            <div class="modal-body">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-4">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Date</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="mm/dd/yyy">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Action</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option>Add</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Type</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option>Tractor</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Description</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-8">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">VIN</label>
                                            <div class="col-md-9">
                                                <select class="form-control">
                                                    <option>1FUJA6AV04PM29109</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">&nbsp;</label>
                                            <div class="col-md-9">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                                                    <thead>
                                                        <tr><th>Year</th><th>Make</th><th>Value</th></tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>2004</td>
                                                            <td>Freightliner</td>
                                                            <td>15,000</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                                        <thead>
                                            <tr role="row">
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="3" style="width: 200px;"> Coverage Types </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Base </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Pro Rate </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Premium </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Surcharge</th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Tax Rate </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Taxes & Fees </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Broker Fees </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Endt Fees </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Other Fees </th>
                                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;"> Estimate Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Auto Liability
                                                </td>
                                                <td></td>
                                                <td class="center"></td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Motor Truck Cargo
                                                </td>
                                                <td></td>
                                                <td class="center"></td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Physical Damage
                                                </td>
                                                <td></td>
                                                <td class="center"></td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Excess Liability
                                                </td>
                                                <td></td>
                                                <td class="center"></td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    General Liability
                                                </td>
                                                <td></td>
                                                <td class="center"></td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                <td colspan="2">
                                                    Other Coverages
                                                </td>
                                                <td></td>
                                                <td class="center"></td>
                                                <td>  <input type="text" class="form-control" /> </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr class="gradeX odd" role="row" style="background:#fbfcfd">
                                                <td colspan="5">
                                                    <strong>TOTAL</strong>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



