<style>
    .page-content.no-side-menu{
        margin-left:0 !important;
    }
</style>
<div class="page-content-wrapper">
    <div class="page-content no-side-menu" style="margin-left:0;">
        <div class="row" style="border-left:5px solid #edf0f4;padding-top:5px;">
            <partial name="_AgentCommissions.cshtml" />
        </div>
    </div>
</div>