

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2"><label>Account</label></div>
        <div class="col-md-2"><label>Type of Coverage</label></div>
        <div class="col-md-2"><label>Policy Number</label></div>
        <div class="col-md-2"><label>Date as Of</label></div>
        <div class="col-md-2"><label>Status</label></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <select class="form-control" id="slcBrokerFeesAccount">
                <option value="">&nbsp</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control" id="slcBrokerFeesCoverageTypes">
                <option value="">&nbsp</option>
                <option value="1">Auto Liability</option>
                <option value="2">Motor Truck Cargo</option>
                <option value="3">Physical Damage</option>
            </select>
        </div>
        <div class="col-md-2"><input type="text" class="form-control" id="txtBrokerFeesPolicyNo" /></div>
        <div class="col-md-2"><input type="date" class="form-control" id="txtBrokerFeesDateAsOf" /></div>
        <div class="col-md-2"><button class="btn btn-danger" id="btnClearBrokerFeesFilters">Clear Filters</button></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-header">
        <div class="col-md-1" style="width:20%; text-align:center"><label>Account</label></div>
        <div class="col-md-1" style="width:15%; text-align:left"><label>Type of Coverage</label></div>
        <div class="col-md-1" style="width:10%; text-align:left"><label>Policy No</label></div>
        <div class="col-md-1" style="width:15%; text-align:center"><label>Effective</label></div>
        <div class="col-md-1" style="width:14%; text-align:center"><label>Commulative Broker Fees</label></div>
        <div class="col-md-1" style="width:7%; text-align:center"><label>Unearned</label></div>
        <div class="col-md-1" style="width:7%; text-align:center"><label>Earned</label></div>
        <div class="col-md-1" style="width:12%; text-align:center"><button class="btn btn-success" id="btnExportBrokerFeesReport" style="padding:2px;">Export (.xlsx)</button></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-sub-header">
        <div class="col-md-1" style="width:20%; text-align:center">&nbsp;</div>
        <div class="col-md-1" style="width:15%; text-align:center">&nbsp;</div>
        <div class="col-md-1" style="width:10%; text-align:center">&nbsp;</div>
        <div class="col-md-1" style="width:15%; text-align:center">&nbsp;</div>
        <div class="col-md-1" style="width:14%; text-align:center"><label id="thCommulativeBrokerFees">&nbsp;</label></div>
        <div class="col-md-1" style="width:7%; text-align:center"><label id="thUnearnedBrokerFees">&nbsp;</label></div>
        <div class="col-md-1" style="width:7%; text-align:center"><label id="thEarnedBrokerFees">&nbsp;</label></div>
        <div class="col-md-1" style="width:12%; text-align:center">&nbsp;</div>
    </div>
</div>


<div class="row" style="height:680px; overflow-y:scroll;" id="brokerFeesUnearnedReportTable">
    <div class="row" id="brokerFeesPreloader">
        <div class="col-md-12 text-center" style="padding-top:75px;">
            <img src="~/assets/images/preloader.gif" />
        </div>
    </div>
</div>

<div class="modal fade" id="mdlFinanceReference" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-350">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Financing Reference</h4>
            </div>

            <form class="form-horizontal" role="form">
                <div class="modal-body" style="padding-bottom:0; padding-top:0;">
                    <div class="portlet light bordered">
                        <div class="portlet-body form policy-form">
                            <div class="row">
                                <div class="form-body" style="padding-top:0; padding-bottom:0">
                                   <textarea style="height:75px;resize:none;" class="form-control" id="txtFinanceReference"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn green" id="btnSaveFinancingRef">Save</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="mdlEndtItems" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>

                <div class="modal-body" style="padding:0 !important;">
                    <div class="portlet-body form vehicle-form">
                        <div class="row">
                            <div class="col-md-12 table-header popup">
                                <div class="col-md-2"><label>Account</label></div>
                                <div class="col-md-10"><small id="lblEndtRptGroupAccount"></small></div>

                            </div>
                            <div class="col-md-12 table-header popup">
                                <div class="col-md-2"><label>Endorsement No</label></div>
                                <div class="col-md-10"><small id="lblEndtRptGroupEndtNo"></small></div>
                            </div>
                            <div class="col-md-12 table-header popup">
                                <div class="col-md-2"><label>Type of Coverage</label></div>
                                <div class="col-md-10"><small id="lblEndtRptGroupCoverageType"></small></div>
                            </div>
                            <div class="col-md-12 table-header popup h40">
                                <div class="col-md-2 text-center"><small>Reference</small></div>
                                <div class="col-md-1 text-center"><small>Premium</small></div>
                                <div class="col-md-1 text-center"><small>Surcharge</small></div>
                                <div class="col-md-1 text-center"><small>SurplusTaxes</small></div>
                                <div class="col-md-1 text-center"><small>Endt Fees</small></div>
                                <div class="col-md-2 text-center"><small>NonTaxed Fees</small></div>
                                <div class="col-md-1 text-center"><small>Other Fees</small></div>
                                <div class="col-md-1 text-center"><small>Commissions</small></div>
                                <div class="col-md-1 text-center"><small>Net Amount</small></div>
                                <div class="col-md-1 text-center" style="padding:0 !important;"><button id="btnExportItems" class="btn btn-sm" style="background:#4bb678">Export (.xlsx)</button></div>
                            </div>
                        </div>
                        <div class="row" id="endtRptGroupItems">

                        </div>
                        <div class="row">
                            <div class="col-md-12 table-header popup h40">
                                <div class="col-md-2 text-center"><small></small></div>
                                <div class="col-md-1 text-center"><small id="totalPremium"></small></div>
                                <div class="col-md-1 text-center"><small id="totalSurcharge"></small></div>
                                <div class="col-md-1 text-center"><small id="totalSurplusTaxes"></small></div>
                                <div class="col-md-1 text-center"><small id="totalEndtFees"> </small></div>
                                <div class="col-md-2 text-center"><small id="totalNonTaxedFees"> </small></div>
                                <div class="col-md-1 text-center"><small id="totalOtherFees"> </small></div>
                                <div class="col-md-1 text-center"><small id="totalCommissions"></small></div>
                                <div class="col-md-1 text-center"><small id="totalNetAmount"></small></div>
                                <div class="col-md-1 text-center" style="padding:0 !important;"></div>
                            </div>
                        </div>
                        <div class="row" id="endtRptGroupItemsPreloader">
                            <div class="col-md-12 text-center" style="padding-top:15px;">
                                <img src="~/assets/images/preloader.gif" />
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>